@font-face {
  font-family: "Super Legend Boy";
  src: url("/assets/fonts/Super-Legend-Boy.woff2") format("woff2"),
    url("/assets/fonts/Super-Legend-Boy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  font-family: "Super Legend Boy";
  background-color: #010b13;
  background-image: url(/assets/img/pixel.png);
  color: #0c8054;
}

button {
  font-family: "Super Legend Boy";
  width: 180px;
  height: 45px;
  text-align: center;
}
